@use "var";

@mixin display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin display-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin  display-row {
  display: flex;
  justify-content: space-between;
}