$background-color: #eee;

$background-color-home: #006536;

$primary-color: #343232;

$primary-color-hover: #FCF8EE;

$second-color: #fefddc;

$color-Logo: #EFCE75;

$color-icone-titulo: #FCF8EE;

$border-button: #cbd7ca;

$color-button: #cbd7ca;

$color-button-modal: #1d471d;

$background-color-button: #343232;

$color-cart: #cbd7ca;

$color-input: #343232;

$color-preco: #295229;

$color-icone: #e91f30;

$background-color-input: #cbd7ca;

$background-color-card: #EFCE75;

$background-color-modal: #006536;

$transtition: all .6s ease-in-out;

$padding-button: .5rem;
