@use "var";
@use "mixins";
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #d3f4eb;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #343232;
  border-radius: 30px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var.$background-color;
  overflow: auto;
  cursor: default;
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #72e778 60%,
    #62ec69de 100%
  );
  min-height: calc(100vh - 60px);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  color: #343232;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  > h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }

  //Get By Id ------------------------------------------------------------
  .pizza-escolhida {
    @include mixins.display;
    padding: 2rem;

    #pizza-id-escolhida {
      @include mixins.display;
      width: 100%;

      #idPizza {
        padding: 0.5rem;
        width: 315px;
        border: none;
        border-radius: 0.2rem;
        font-size: 1rem;
      }

      #idPizzaBtn {
        background-color: transparent;
        border: 3px solid #343232;
        padding: 0.5rem;
        outline: none;
        color: #343232;
        font-weight: bold;
        border-radius: 0.8rem;
        width: 330px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.6s ease-in-out;

        &:hover {
          background-color: #343232;
          color: #d3f4eb;
        }
      }
    }
  }

  // Get All ------------------------------------------------------------
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    @media (max-width: 350px) {
      justify-content: unset;
    }

    .pizzaLista {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px 70px;

      @media (max-width: 1220px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 840px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .pizzaCardItem,
  .PizzaListaItem {
    background-color: #52f8c3;
    border-radius: 10px;
    padding: 0.8rem;
    width: 345px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 400px) {
      width: 65vw;
      height: auto;
    }

    > div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__numero {
      font-size: 1.2rem;
      margin-left: 5px;
    }

    &__sabor {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 100%;
    }

    &__preco {
      color: #4d754d;
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &__descricao {
      font-size: 0.8rem;
    }

    &__avaliacao {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    &__foto {
      height: 150px;
      margin-right: -50px;
      transition: all 0.6s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .pizzaCardItem {
    margin: 1rem 0;
    height: auto;
  }
}
